# Project
site_name: Synapse Python/Command Line Client Documentation
site_author: Bryan Fauble
site_description: >-
  A Python client for Sage Bionetworks' Synapse, a collaborative, open-source research
  platform that allows teams to share data, track analyses, and collaborate. The Python
  client can be used as a library for development of software that communicates with
  Synapse or as a command-line utility.
site_dir: docs_site
# Repository
repo_url: https://github.com/Sage-Bionetworks/synapsePythonClient
repo_name: synapsePythonClient

# Navigation
nav:
  - Home:
      - Home: index.md
      - Setup:
          - Installation: tutorials/installation.md
          - Authentication: tutorials/authentication.md
          - Configuration: tutorials/configuration.md
  # In each docs folder there is a README containing a guideline to follow when writing documentation.
  - Tutorials:
      - Home: tutorials/home.md
      - Working with the Python client:
          - Python client: tutorials/python_client.md
          - Project: tutorials/python/project.md
          - Folder: tutorials/python/folder.md
          - File: tutorials/python/file.md
          - Evaluation: tutorials/python/evaluation.md
          - Submission: tutorials/python/submission.md
          - Annotation: tutorials/python/annotation.md
          # - Versions: tutorials/python/versions.md
          # - Activity/Provenance: tutorials/python/activity.md
          - Entity View: tutorials/python/entityview.md
          - Table: tutorials/python/table.md
          # - Using a Table: tutorials/python/table_crud.md
          - VirtualTable: tutorials/python/virtualtable.md
          - Dataset: tutorials/python/dataset.md
          - Dataset Collection: tutorials/python/dataset_collection.md
          - Materialized View: tutorials/python/materializedview.md
          - Submission View: tutorials/python/submissionview.md
          - Sharing Settings: tutorials/python/sharing_settings.md
          - Wiki: tutorials/python/wiki.md
          # - Team: tutorials/python/team.md
          - Upload data in bulk: tutorials/python/upload_data_in_bulk.md
          - Download data in bulk: tutorials/python/download_data_in_bulk.md
          - Creating JSON Schema: tutorials/python/schema_operations.md
          - Working with JSON Schema: tutorials/python/json_schema.md
        # - Move Files and Folders: tutorials/python/move_files_and_folders.md
        # - Migrate data to other storage locations: tutorials/python/migrate_data_to_other_storage_locations.md
      - Working with the Command Line Client: tutorials/command_line_client.md
      # - Working with file versioning: tutorials/file_versioning.md
      # - Working with tables: tutorials/tables.md
      - Synapseclient with R through reticulate: tutorials/reticulate.md
  - How-To Guides:
      - Home: guides/home.md
      # - Using Entity Views: guides/views.md
      - Data Storage: guides/data_storage.md
      - Access the REST API: guides/accessing_the_rest_api.md
      - Extensions:
          - Curator: guides/extensions/curator/metadata_curation.md
      # - Expermental Features:
      #     - Validating Annotations: guides/validate_annotations.md
  - API Reference:
      - Client: reference/client.md
      - Synapse Utils: reference/synapse_utils.md
      - Entity: reference/entity.md
      - Project: reference/project.md
      - Folder: reference/folder.md
      - File: reference/file.md
      - Annotations: reference/annotations.md
      - Tables: reference/tables.md
      - Table Schema: reference/table_schema.md
      - Entity View Schema: reference/view_schema.md
      - Activity/Provenance: reference/activity.md
      - Teams: reference/teams.md
      - Wiki: reference/wiki.md
      - Evaluation: reference/evaluation.md
      - Link: reference/link.md
      - DockerRepository: reference/docker_repository.md
      - JSON Schema: reference/json_schema.md
      - Exceptions: reference/exceptions.md
      - Permissions: reference/permissions.md
      - Core: reference/core.md
      - REST Apis: reference/rest_apis.md
      - Experimental:
          - Factory Operations: reference/experimental/sync/factory_operations.md
          - Agent: reference/experimental/sync/agent.md
          - Project: reference/experimental/sync/project.md
          - Folder: reference/experimental/sync/folder.md
          - File: reference/experimental/sync/file.md
          - Evaluation: reference/experimental/sync/evaluation.md
          - Submission: reference/experimental/sync/submission.md
          - SubmissionStatus: reference/experimental/sync/submission_status.md
          - SubmissionBundle: reference/experimental/sync/submission_bundle.md
          - Table: reference/experimental/sync/table.md
          - VirtualTable: reference/experimental/sync/virtualtable.md
          - Dataset: reference/experimental/sync/dataset.md
          - Dataset Collection: reference/experimental/sync/dataset_collection.md
          - EntityView: reference/experimental/sync/entityview.md
          - MaterializedView: reference/experimental/sync/materializedview.md
          - SubmissionView: reference/experimental/sync/submissionview.md
          - Activity: reference/experimental/sync/activity.md
          - Team: reference/experimental/sync/team.md
          - UserProfile: reference/experimental/sync/user_profile.md
          - Curator: reference/experimental/sync/curator.md
          - Link: reference/experimental/sync/link_entity.md
          - Functional Interfaces: reference/experimental/functional_interfaces.md
          - SchemaOrganization: reference/experimental/sync/schema_organization.md
          - JSONSchema: reference/experimental/sync/json_schema.md
          - Wiki: reference/experimental/sync/wiki.md
          - FormGroup and Form: reference/experimental/sync/form.md
          - Extensions:
              - Curator: reference/extensions/curator.md
          - Asynchronous:
              - Factory Operations: reference/experimental/async/factory_operations.md
              - Agent: reference/experimental/async/agent.md
              - Project: reference/experimental/async/project.md
              - Folder: reference/experimental/async/folder.md
              - File: reference/experimental/async/file.md
              - Evaluation: reference/experimental/async/evaluation.md
              - Submission: reference/experimental/async/submission.md
              - SubmissionStatus: reference/experimental/async/submission_status.md
              - SubmissionBundle: reference/experimental/async/submission_bundle.md
              - Table: reference/experimental/async/table.md
              - VirtualTable: reference/experimental/async/virtualtable.md
              - Dataset: reference/experimental/async/dataset.md
              - Dataset Collection: reference/experimental/async/dataset_collection.md
              - EntityView: reference/experimental/async/entityview.md
              - MaterializedView: reference/experimental/async/materializedview.md
              - SubmissionView: reference/experimental/async/submissionview.md
              - Activity: reference/experimental/async/activity.md
              - Team: reference/experimental/async/team.md
              - UserProfile: reference/experimental/async/user_profile.md
              - Curator: reference/experimental/async/curator.md
              - Link: reference/experimental/async/link_entity.md
              - SchemaOrganization: reference/experimental/async/schema_organization.md
              - JSONSchema: reference/experimental/async/json_schema.md
              - Wiki: reference/experimental/async/wiki.md
              - FormGroup and Form: reference/experimental/async/form.md
          - Mixins:
              - AccessControllable: reference/experimental/mixins/access_controllable.md
              - StorableContainer: reference/experimental/mixins/storable_container.md
              - AsynchronousCommunicator: reference/experimental/mixins/asynchronous_communicator.md
              - FailureStrategy: reference/experimental/mixins/failure_strategy.md
              - BaseJSONSchema: reference/experimental/mixins/base_json_schema.md
              - ContainerEntityJSONSchema: reference/experimental/mixins/container_json_schema.md
              - FormData: reference/experimental/mixins/form_data.md
              - FormGroup: reference/experimental/mixins/form_group.md

  - Further Reading:
      - Home: explanations/home.md
      - Domain Models of Synapse: explanations/domain_models_of_synapse.md
      - Access Control: explanations/access_control.md
      - Properties vs Annotations: explanations/properties_vs_annotations.md
      - Manifest TSV: explanations/manifest_tsv.md
      - Benchmarking: explanations/benchmarking.md
      - Structuring Your Project: explanations/structuring_your_project.md
      - Asyncio Changes in Python 3.14: explanations/asyncio_in_python_3_14.md
      - Curator Data model: explanations/curator_data_model.md
  - News:
      - news.md
  - Contact Us: https://sagebionetworks.jira.com/servicedesk/customer/portal/9/group/16/create/206

# Theme configuration
theme:
  name: material
  palette:
    - media: "(prefers-color-scheme: light)"
      scheme: default
      primary: white
      toggle:
        icon: material/toggle-switch-off-outline
        name: Switch to dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      primary: black
      toggle:
        icon: material/toggle-switch
        name: Switch to light mode
  icon:
    admonition:
      note: octicons/tag-16
      info: octicons/info-16
  logo: assets/synapse_logo.png
  favicon: assets/favicon.png
  features:
    - content.code.copy
    - navigation.footer
    - navigation.sections
    - search.highlight
    - search.share
    - search.suggest
    - toc.follow
    - navigation.tabs
    - navigation.tabs.sticky
    - navigation.instant
    - navigation.instant.progress

extra_css:
  - css/custom.css

plugins:
  - search
  - mkdocstrings:
      default_handler: python
      handlers:
        python:
          inventories:
          - https://docs.python.org/3/objects.inv
          - https://python-markdown.github.io/objects.inv
          options:
            members_order: source
            show_if_no_docstring: False
            show_root_heading: True
            show_category_heading: True
            show_symbol_type_heading: True
            show_symbol_type_toc: True
            docstring_style: google
            docstring_section_style: spacy
            filters:
              - "!^_"
              - "!to_synapse_request"
              - "!fill_from_dict"
            separate_signature: True
            show_signature_annotations: True
            signature_crossrefs: True

  - autorefs:
      resolve_closest: True
  - termynal:
      prompt_literal_start:
        - "$"
        - ">"
  # Allows external links to open in a new tab
  - open-in-new-tab

extra:
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/Sage-Bionetworks/synapsePythonClient
    - icon: fontawesome/brands/docker
      link: https://github.com/Sage-Bionetworks/synapsePythonClient/pkgs/container/synapsepythonclient
    - icon: fontawesome/brands/python
      link: https://pypi.org/project/synapseclient/

markdown_extensions:
  - admonition
  - pymdownx.details
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format:
            !!python/name:pymdownx.superfences.fence_code_format # Lets us include source code from any files


  - markdown_include.include:

  - toc:
      permalink: true
  - attr_list
