[tool.black]
line-length = 88
target-version = ['py39']
include = '\.pyi?$'

[tool.ruff]
extend-ignore = ["E501"]
exclude = [
    'docs',
    'tests'
]

[tool.bandit]
exclude_dirs = ["tests"]
skips = ["B101", "B303", "B608", "B311", "B113", "B310", "B110"]

[tool.isort]
profile = "black"
