[data-md-color-scheme="default"] {
    --doc-symbol-attribute-fg-color: #953800;
    --doc-symbol-function-fg-color: #8250df;
    --doc-symbol-method-fg-color: #8250df;
    --doc-symbol-class-fg-color: #0550ae;
    --doc-symbol-module-fg-color: #5cad0f;

    --doc-symbol-attribute-bg-color: #9538001a;
    --doc-symbol-function-bg-color: #8250df1a;
    --doc-symbol-method-bg-color: #8250df1a;
    --doc-symbol-class-bg-color: #0550ae1a;
    --doc-symbol-module-bg-color: #5cad0f1a;
}

[data-md-color-scheme="slate"] {
    --doc-symbol-attribute-fg-color: #953800;
    --doc-symbol-function-fg-color: #8250df;
    --doc-symbol-method-fg-color: #8250df;
    --doc-symbol-class-fg-color: #0550ae;
    --doc-symbol-module-fg-color: #5cad0f;

    --doc-symbol-attribute-bg-color: #9538001a;
    --doc-symbol-function-bg-color: #8250df1a;
    --doc-symbol-method-bg-color: #8250df1a;
    --doc-symbol-class-bg-color: #0550ae1a;
    --doc-symbol-module-bg-color: #5cad0f1a;
}

/* Indentation. */
div.doc-contents {
    padding-left: 25px;
    border-left: .05rem solid var(--md-typeset-table-color);
}


/* Adds icons in front of `class`, `attribute`, and `function` */
div.doc-class .doc-heading:first-of-type::before {
    color: var(--doc-symbol-class-fg-color);
    background-color: var(--doc-symbol-class-bg-color);
    border-radius: .1rem;
    font-size: .85em;
    padding: 0 .3em;
    font-weight: bold;
    content: "class";
    margin-right: 5px;
}

div.doc-attribute .doc-heading:first-of-type::before {
    color: var(--doc-symbol-attribute-fg-color);
    background-color: var(--doc-symbol-attribute-bg-color);
    border-radius: .1rem;
    font-size: .85em;
    padding: 0 .3em;
    font-weight: bold;
    content: "attr";
    margin-right: 5px;
}

div.doc-function .doc-heading:first-of-type::before {
    color: var(--doc-symbol-function-fg-color);
    background-color: var(--doc-symbol-function-bg-color);
    border-radius: .1rem;
    font-size: .85em;
    padding: 0 .3em;
    font-weight: bold;
    content: "func";
    margin-right: 5px;
}
